
// Navbar
.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  a {
    text-decoration: none;
    margin: 5px;
  }

  .navbar-main > a {
    color: white;
  }
  .navbar-login > a {
    color: yellow;
  }
}


// Card
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  div {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-size: cover;

    h2 {
      word-wrap: normal;
      text-align: center;
      line-height: 100%;
      font-weight: bold;
      margin: 0px;
      padding: 8px;
      color: black;
      // This text shadow adds a white border around text to separate it from the background image.
      text-shadow: 
        -1px -1px 0 white,
        0 -1px 0 white,
        1px -1px 0 white,
        1px 0 0 white,
        1px 1px 0 white,
        0 1px 0 white,
        -1px 1px 0 white,
        -1px 0 0 white;
    }
  }
}